@import "variables.scss";

/*template properties*/
.wrapper{
  clear: both;


}

.content-area{
  float: left;
  width: 750px;
  margin: 0 0 0 50px;
  padding: 10px;
}

.sidebar{
  float: right;
  width: 250px;
  height: 400px;
  padding: 10px 20px;
  border: 2px solid $deep-blue;
  margin: 20px 40px 20px 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 40px;

}

.footer{
  color: $white;
  background: $deep-blue;
  clear: both;
  width: auto;
  height: 40px;
  padding: 10px 0;
  //margin: 10px 0 0 0;
  text-align: center;
  text-shadow: 0.1em $red;
  a{
    color: $white !important;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }

  h5{
    margin: 10px 0;
  }


}

/* Header properties*/
.header{
  width: auto;
  height: 101px;
  margin-bottom: 30px;


  /*** uncomment to enable mini logo ***
  .logo-icon{
    float: left;
      img{
        display: block;
        width: 50px;
      }
  }
*/
  .logo-main{
    img{
      display: inline-block;
      float: left;
      margin-left: 50px;
      margin-right: auto;
      width: 400px;
    }
  }

  .nav-menu{
    display: inline-block;
    float: right;
    margin-left: auto;
    margin-right: 100px;
    padding: 40px;
  }


}

