@import "variables.scss";
@import "fontawesome/scss/fontawesome.scss";
@import "fontawesome/scss/solid.scss";
@import "fontawesome/scss/brands.scss";


/*template properties*/

/**font awsome***
.user{
  @extend %fa-icon;
  @extend .fas;
  &:before{
    content: fa-content($fa-var-user);
  }
}

/*fontawsome icon*/
.icone{
  padding-right: 10px;
}

/*end*/

/* global properties*/
html, body {
  margin: 0;
}

#{$link}{
  text-decoration: none;
  color: inherit;
}

#{$links}{
  color: $deep-blue;
  border-bottom: 2px solid $deep-blue;
}

.container {
  padding: 10px;
}

/**** uncomment to enable ***
.title-left{
  text-align: left;
}
****/


.title-center{
  text-align: center;
}

.page-title{
  color: $deep-blue;
  width: 800px;
  background: $light-blue;
  padding: 20px 0;
  font-size: larger;
  text-transform: uppercase;
}
.page-content{
  padding: 5px 30px;
}


/*Global properties ends*/


/* Header properties*/
.header{
  width: auto;
  height: 70px;
  margin: 0 100px 30px 100px;

  /*** uncomment to enable mini logo ***
  .logo-icon{
    float: left;
      img{
        display: block;
        width: 50px;
      }
  }
*/
  .logo-main{
    display: inline-block;
    max-width: 50%;
      img{
        width: 70%;
      }

    #{$links}{
      border-bottom: none;
    }
  }

  .header-menu{
    overflow: hidden;
    display: block;
    float: right;
    margin-left: auto;
    padding-right: 20px;
    font-size: 15px;

    ul {
      list-style-type: none;
      display: inline-block;
      padding: 10px 0;
      li{
        display: inherit;
        padding-right: 15px;

      }
    }
    #{$links}{
      border-bottom: none;
    }

    .icone{
      padding-right: 0;
    }
  }
}

/*body*/

.left{
  float: left;
}

.right{
  float: right;
}
.wrapper{
  clear: both;

}

.content-area{

  width: 770px;
  height: auto;
  margin: 0 0 0 60px;
}

.sidebar{

  width: 20%;
  height: 100%;
  min-height: 800px;
  padding: 0;
  margin-bottom: 25px;
  background: $brown;
  //border-left: 15px solid $brown;
  color: $white;



  .sidebar-menu{
    overflow: hidden;
    display: block;

    ul {
      list-style-type: none;
      display: inherit;
      padding: 15px 0 0 0;
      margin-top: 0;
      margin-left: 20px;


      :first-child{
        //padding-top: 30;
      }


      li {

          a{
            display: inherit;
            padding: 30px 0 30px 15px;
            text-decoration: none;
            vertical-align: center;
            color: $white;
            border-radius: 6px 0 0 6px;

            &:hover{
              background: $brown_opa;
              color: inherit;
              border-bottom: none;
            }

            &.active{
              background: $white;
              color: $brown;
              // border-bottom: none;
            }

          }

        border-bottom: 2px solid #363D47;
      }
    }

  }

}

/*Forms*/

/*end of Forms*/

/*Footer properties*/
.footer{
  color: $white;
  background: $deep-blue;
  clear: both;
  width: auto;
  height: 40px;
  padding: 10px 0 0 0;
  //margin: 10px -8px -15px -8px;

  text-align: center;
  text-shadow: 0.1em $red;
  a{
    color: $white !important;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }

  h5{
    margin: 10px 0;
  }


}

