$fa-font-path: "fontawesome/webfonts/";
$black: #2d2a2a;
$green: #00a859;
$deep-blue: #16414A;
$light-blue: #D9E3F1;
$sky-blue: #A8B7CE;
$semi-deep-blue: #6A8FC6;
$blue: #2696FF;
$red: #F13327;
$white: #FCFCFC;
$link: 'a, a:active, a:hover, a:visited';
$links: 'a:active, a:hover';
$grey: grey;
$brown: #3E4652;

